</div>
<footer>Copyright 2020 Shashank Pathak</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="http://localhost:3000/js/index.js"></script>
</body>
</html>
