<% include partials/header.ejs %>
<% if (currentUser) { %>
    <h1>Welcome to my page <%= currentUser.username %></h1>

    <% } else { %>
    <h1>Welcome to my page</h1>
    <% } %>

<% include partials/footer.ejs %>
